﻿  </div>

<script src="Scripts/jquery-1.12.4.min.js"></script>

<script src="Scripts/bootstrap.min.js"></script>

<script src="Scripts/bootbox.js"></script>

<script src="Scripts/footerscript.js"></script>

        </body>
        </html>
